*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-evenly;
    .rules{
        width: 30%;
        text-align: justify;
        margin-top: 20px;
        margin-left: 20px;
        h2{
            text-align: center;
            margin-bottom: 20px;
        }
    }
}
.form{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(129, 36, 129);
    padding: 20px 10px;
    border-radius: 10px;
    .renge{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        button {
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            &:first-child{
                background-color: rgb(34, 192, 34);
                width: 65px;
                &:hover{
                     filter: brightness(130%);
                }
               
            }
            &:last-child{
                background-color: rgb(194, 28, 28);
                width: 65px;
                &:hover{
                    filter: brightness(130%);
               }
            }
        }

    }
    .areas{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .error{
            width: 150px;
            height: 50px;
            // background-color: red;
        }
        .last-result{
            width: 150px;
            height: 50px;
            // background-color: blue;
        }
    }
    
}